*,  *:before, * {
  box-sizing: border-box;
}

html {
  background: url(/img/site-bg.jpg) no-repeat fixed;
  background-size: cover;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  perspective: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Slab, Georgia, Garamond, serif;
}

.show-bg {
  margin-right: 10px !important;
}

.show-bg + * {
  margin-left: 0 !important;
  padding-left: 0;s
}

/* ###########
   SITE HEADER
########### */

/*Enable for CSS shenanigans, courtesy of Parker's dumbass. <3 */

/*html:hover .page-wrap {
  transform: scale(.8) rotateY(20deg) translateZ(-00px);
}

.page-wrap {
  transition: all 500ms ease 0s;
}
*/

header {
  background: #efe200;
  border-bottom: 2px solid #000;
  position: relative;
  z-index: 1000;
}

.header-wrap {
  max-width: 960px;
  height: 120px;
  margin: 0 auto;
}

.site-logo {
  float: left;
}

.site-logo > img {
  height: 100px;
  margin-top: 10px;
}

nav {
  float: right;
}

.site-nav {
  display: table-cell;
  vertical-align: bottom;
  list-style-type: none;
  margin-top: 0;
  padding-right: 50px;
  height: 120px;
}

.site-nav > li {
  float: left;
  font-size: 2em;
  padding: 0 5px 0 5px;
}

.site-nav > li + li {
  margin-left: 25px;
}

.site-nav a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-left: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  text-shadow: 1px 1px rgba(255,255,255,.5), 0px -1px rgba(0,0,0,.5);
}

.site-nav i {
  position: absolute;
  left: 1px;
  top: 100%;
  transition: all 200ms ease 0s;
}

.site-nav a:hover i {
  top: 6px;
}

/*
MAIN CONTENT
*/

.main-content {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 10px;
  background: #ccc;
  box-shadow: 0 0 15px 0 #000;
}

.main-content > :not(.section-splitter) {
  margin-left: 25px;
  margin-right: 25px;
}

.remix-center {
    margin: 0 auto;
    padding-bottom: 10px;
    background: #ccc;
    text-align: center;
}

.main-content > h1:first-child {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 3em;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
}

.main-content p + p {
  margin-top: 20px;
}

.main-content p {
  text-indent: 20px;
}

.main-content a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.main-content a:hover, .main-content a:focus {
  text-shadow: 0 0 20px #000;
}

.main-content .content-image {
  float: left;
  padding: 10px;
  width: 300px;
}

.main-content .content-image:nth-of-type(2n) {
  float: right;
}

.callout-header {
  padding-top: 80px;
  padding-bottom: 50px;
}

.callout-text {
  margin-top: 2em;
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.welcome-msg {
  margin: 0;
  font-size: 5em;
}

.tagline {
  margin: 0;
  font-size: 3.5em;
  margin-top: -10px;
  color: #888;
}

.footnote {
  margin: 0;
  font-style: italic;
}

.callout-img {
  float: right;
  width: 300px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px -10px #000;
}

.section-splitter {
  text-align: center;
  font-size: 3em;
  background: #efe200;
  border-style: solid;
  border-color: #000;
  border-width: 2px 0 2px 0;
}

.scp-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.super-cute-pics {
  list-style: none;
}

.super-cute-pics > li:nth-child(2n) {
  margin-left: 100px;
  margin-right: 40px;
  float: right;
}

.super-cute-pics > li:nth-child(2n-1) {
  float: left;
}

.super-cute-pics > li:nth-child(1n-2) {
  margin-top: 70px;
}

.super-cute-pics > li:nth-child(1), .super-cute-pics > li:nth-child(2) {
  margin-top: 0 !important;
}

.super-cute-pics li {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px 50px;
}

.super-cute-pics img {
  width: 350px;
}

.abt-imgs {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.abt-imgs > li {
  padding: 20px 20px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  border-top: 1px solid rgba(255,255,255,1);
}

.abt-imgs > li:first-child {
  border-top: none;
}

.abt-imgs > li:last-child {
  border-bottom: none;
}

.abt-img {
  position: relative;
  margin-bottom: 20px !important;
  border: 4px solid #fff;
  transform: rotate(1deg);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
  margin: 10px;
  transition: all 250ms ease 0s;
  border-radius: 2px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.abt-img:hover {
  transform: scale(1.05) !important;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

li:nth-of-type(n) > .abt-img {
  transform: rotate(2deg);
}

li:nth-of-type(2n) > .abt-img {
  transform: rotate(-2deg);
}

li:nth-of-type(3n-1) > .abt-img {
  transform: rotate(1deg);
}

li:nth-of-type(4n-2) > .abt-img {
  transform: rotate(-3deg);
}

.sources-list {
  list-style-type: none;
  padding-left: 0;
  float: left;
}

.sources-list:after {
  content: "";
  display: table;
  clear: both;
}

.sources-list > li {
  padding: 5px 1px;
  display: inline-block;
  float: left;
  background: #333;
  color: #CCC;
  border-left:  1px solid rgba(0,0,0,.3);
  border-right: 1px solid rgba(255,255,255,.1);
  transition: all 200ms ease 0s;
}

.sources-list > li:first-child {
  border-left: none;
}

.sources-list > li:last-child {
  border-right: none;
}

.sources-list > li:hover {
  background: #444;
}

.sources-list a {
  padding: 10px 10px;
}

/*
FOOTER
*/

footer {
  background: #444;
  height: 50px;
  margin: 0;
  padding: 0;
  color: #eee;
  text-align: center;
}

.footer-content-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.footer-content-wrap  > * {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 33.33333333%;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #eee;
}

.footer-content-wrap > p {
  margin: 0;
  line-height: 50px;
}

.footer-content-wrap > ul {
  list-style-type: none;
}

.footer-content-wrap > ul > li {
  display: inline-block;
}

.social-media-icons a {
  height: 50px;
  line-height: 50px;
  transition: color 250ms ease 0s;
  text-shadow: 1px 1px #888;
}

.social-media-icons span {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.hi-from-manistique a:hover { color: #8b4513; }
.social-media-icons a[class*="envelope"]:hover { color: #ff5b02; }
.social-media-icons a[class*="facebook"]:hover { color: #3a5795; }
.social-media-icons a[class*="twitter"]:hover {  color: #55acee; }
.social-media-icons a[class*="steam"]:hover {    color: #1CEA07; }

.social-media-icons span {
  margin-left: 4px;
}

.social-media-icons > li + li {
  margin-left: 10px;
  line-height: 50px;
}

.social-media-icons a:before {
  font-size: 2em !important;
  vertical-align: middle;
}

footer p:first-child {
  text-align: left;
  padding-left: 20px;
}

footer p:last-child {
  text-align: right;
  padding-right: 20px;
}


footer p:last-child > a:nth-of-type(2):hover {
  color: #efe200 !important;
}

footer p:last-child > a:last-of-type:hover {
  color: #7018B4;
}

.kitten-love {
  transition: color 750ms ease 0s;
}

.kitten-love:hover {
  color: red !important;
}


/*
MEDIA QUERIES
*/

@media screen and (max-width:960px) {

  /*
  HEADER
  */

  header {
    text-align: center;
  }

  .header-wrap {
    height: 300px;
  }

  nav {
    float: none;
    display: block;
    text-align: center;
  }

  .site-logo {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
  }

  .site-nav {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .site-nav li {
    float: none;
    display: block;
    margin: 0 !important;
    padding: 0;
  }

  .site-nav li a {
    margin: 0;
    padding: 0;
  }

  .site-nav i {
    display: none;
  }

  /*
  MAIN CONTENT
  */

  .callout-img {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .callout-text {
    float: none;
  }

  .super-cute-pics li {
    float: none !important;
    display: block;
    margin: 10px auto !important;
  }


}